.grow {
    transition: all .4s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.neonText {
    color: #fff;
    font-weight: 600;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card {
  background: rgba(181, 177, 177, 0.35);
  box-shadow: 0 8px 32px 0 rgba(18, 19, 32, 0.557);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.509) !important;
}
